/* 
font-family: 'Patrick Hand', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Montserrat', sans-serif;
*/

/* For sub title
font-family: 'Source Serif Pro', serif;
font-family: 'El Messiri', sans-serif;
*/

/* For .title
font-family: 'Gidugu', sans-serif;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Overpass Mono', monospace;
font-family: 'Vibur', cursive;
font-family: 'Patrick Hand SC', cursive;
 */

/* For the score number
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Vollkorn', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Martel', serif;
  */

.scoreNum {
  font-family: "Martel", serif;
  font-size: 50px;
}
.title {
  font-size: 50px;
  font-family: "Patrick Hand SC", cursive;
}

/* html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaede4;
  /* letter-spacing: 3px; */
  color: #665a50;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  /* font-weight: bold; */
  text-align: center;
  /* text-transform: uppercase; */
  height: 100vh;
}

.wrapper > * {
  /* padding: 10px; */
  flex: 1 100%;
}

.collaboration {
  padding-left: 2%;
  padding-right: 2%;
}
.copyrightContainer {
  display: flex;
  justify-content: flex-end;
  background-color: #fcf5ea;
  color: #000;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}
.copyrightRight {
  text-transform: uppercase;
}
.copyrightLeft,
.instruction01 {
  font-family: "Sorts Mill Goudy", Sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}
.copyrightLeft {
  font-style: oblique;
}

.footer {
  /* display: flex; */
  /* justify-content: flex-end; */
  text-align: right;
  padding: 0px;
  background-color: #fcf5ea;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

img.windowBox,
img.cafe {
  width: 100%;
  height: auto;
}

.window {
  justify-content: space-between;
  /* align-content: space-between; */
}
.winBox {
  background-size: cover;
  background-position: 50%;
  height: 150px;
  width: 126px;
}

.shake {
  -webkit-animation: shake 0.5s 0.0125s;
  animation: shake 0.5s 0.0125s;
}

@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0;
  }
}

@media all and (min-width: 800px) {
  .left {
    order: 1;
  }
  .right {
    order: 2;
  }
  .footer {
    order: 3;
  }
}

@media (min-width: 1100px) {
  .right {
    width: 500px;
  }
  .window {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .right {
    justify-content: space-between;
  }
  img.winBox {
    background-size: cover;
    background-position: 50%;
    height: 120px;
    width: 70px;
  }
}

.subTitle {
  font-size: 20px;
  font-family: "Oleo Script", cursive;
}

.MuiSwitch-track {
  background-color: #b7c5ae !important;
}

.MuiSwitch-switchBase {
  color: #fef6eb !important;
}

.MuiTypography-body1 {
  font-family: "Montserrat", sans-serif !important;
}
