/* 
font-family: 'Patrick Hand', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Sue Ellen Francisco', cursive; 
font-family: 'Montserrat', sans-serif;
*/

body {
  background-color: #eaede4;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: #665a50;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background-color: #eaede4;
}

.footer {
  background-color: #eaede4;
}

.left {
  background-color: #eaede4;
}

.right {
  background-color: #eaede4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

img.cafe {
  object-fit: fill !important;
  width: 100%;
  height: auto;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0;
  }
}

@media all and (min-width: 800px) {
  .left {
    order: 1;
  }
  .right {
    order: 2;
  }
  .footer {
    order: 4;
  }
}
